<div class="container">
           
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida Risus com odo viverra maecenas.</p>
                        <div class="download_cv">
                            <a class="boxed-btn3" href="https://docs.google.com/document/d/1BkcS0gNH5qLgZXJjjxw_SoUpIw8MVW0XXIgMzNTGh04/edit">Download CV</a>
                        </div>