<h1>Biography</h1>
<p>
I am Omega Tesfay, I was born and raised <br> in ethiopia am currently <br>Application Development Student<br> at Seattle central college <br>through a program called Year Up.<br> I am highly desire and motivated to be part of<br> the current and upcoming technology. <br>Currently, I am learning programming<br> languages and web development<br> concepts through the program. <br>So far, my favorite computer<br> programming languages are Python,<br> Java, and JavaScript. <br>I enjoy problem solving and designing a website. 
</p>